Binaries
Plugins
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Source/SimpleRPG/CameraSystem/RPG_PlayerCameraManager.cpp
Source/SimpleRPG/CameraSystem/RPG_PlayerCameraManager.h
